In [1]:
import csv

In [2]:
s=['sid','sname','city','contact']

In [3]:
records=[[1,'narayan','ahemdabed',7632590102],
         [2,'jaydeep','bardoli',9722955429],
         [3,'niraj','surat',9026763218],
         [4,'dhruv','bharuch',5656521478],
         [5,'lakhan','surat',693006761]]
p=[]

In [4]:
for i in range(5):
    sid=int(input("enter student id:"))
    sname=input("enter student name:")
    city=input("enter student city:")
    contact=int(input("enter student contact number:"))
    l=[sid,sname,city,contact]
    p.append(l)

enter student id:6
enter student name:yatin
enter student city:pune
enter student contact number:9786090910
enter student id:7
enter student name:sandeep
enter student city:jaipur
enter student contact number:9017790384
enter student id:8
enter student name:naman
enter student city:kadodara
enter student contact number:1234098756
enter student id:9
enter student name:ganesh
enter student city:udaipur
enter student contact number:0987123465
enter student id:10
enter student name:krunal
enter student city:gandhinagar
enter student contact number:5674839201

In [5]:
with open('C:\sqlite3\student.csv','w',newline='') as f:
    file=csv.writer(f)
    file.writerow(s)
    file.writerows(records)
    file.writerows(p)

In [6]:
with open('C:\sqlite3\student.csv','r',newline='') as read:
    all_record=csv.reader(read)
    for records in all_record:
        print(records)

['sid', 'sname', 'city', 'contact']
['1', 'narayan', 'ahemdabed', '7632590102']
['2', 'jaydeep', 'bardoli', '9722955429']
['3', 'niraj', 'surat', '9026763218']
['4', 'dhruv', 'bharuch', '5656521478']
['5', 'lakhan', 'surat', '693006761']
['6', 'yatin', 'pune', '9786090910']
['7', 'sandeep', 'jaipur', '9017790384']
['8', 'naman', 'kadodara', '1234098756']
['9', 'ganesh', 'udaipur', '987123465']
['10', 'krunal', 'gandhinagar', '5674839201']